<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>Marketing</title>

<!-- Custom template -->
<link rel="stylesheet" href="icon" href="img/logo.png" type="image/png">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="./css/bootstrap.min.css" />
<!-- themefy CSS -->
<link rel="stylesheet" href="./css/themify-icons.css" />
<!-- select2 CSS -->
<link rel="stylesheet" href="./css/nice-select.css" />
<!-- owl carousel CSS -->
<link rel="stylesheet" href="./css/owl.carousel.css" />
<!-- gijgo css -->
<link rel="stylesheet" href="./css/gijgo.min.css" />
<!-- font awesome CSS -->
<link rel="stylesheet" href="./css/all.min.css" />
<link rel="stylesheet" href="./css/tagsinput.css" />

<!-- date picker -->
<link rel="stylesheet" href="./css/date-picker.css" />
<!-- scrollabe  -->
<link rel="stylesheet" href="./css/scrollable.css" />
<!-- datatable CSS -->
<link rel="stylesheet" href="./css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="./css/responsive.dataTables.min.css" />
<link rel="stylesheet" href="./css/buttons.dataTables.min.css" />
<!-- text editor css -->
<link rel="stylesheet" href="./css/summernote-bs4.css" />
<!-- morris css -->
<link rel="stylesheet" href="./css/morris.css">
<!-- metarial icon css -->
<!-- <link rel="stylesheet" href="./css/material-icons.css" /> -->


<!-- menu css  -->
<link rel="stylesheet" href="./css/metisMenu.css">
<!-- style CSS -->
<!-- <link rel="stylesheet" href="./css/style2.css" /> -->
<link rel="stylesheet" href="./css/default.css" id="colorSkinCSS">


<!-- Default -->
<link rel="stylesheet" href="./css/fontawesome.css"/>
<link rel="stylesheet" href="./css/bootstrap.min.css" href="stylesheet" id="bootstrap-css">
<script src="./js/lib/bootstrap.min.js"></script>
<script src="./js/lib/jquery-3.6.0.min.js"></script>
<script src="./js/lib/jquery.validate.min.js"></script>
<script src="./js/lib/validate_form.js"></script>

<link rel="stylesheet" href="./scss/style.css">
<script src="./scripts/web3.js"></script>
<script src="./js/home.js"></script>
