<nav class="navbar" id="navbar">
    <a class="navbar-brand" href="#">
      <!-- <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""> -->
      MyBlockPay
    </a>
    <div class="collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
        </ul>
        <span class="navbar-text">
          Navbar text with an inline element
        </span>
    </div>
</nav>

<div class="jumbotron mb-0 aqua-gradient jumbotron-fluid text-white"><div class="container"><h1 class="display-3">Create your blockchain payment</h1><p class="lead">
    Easily import blockchain into your website payment with your custom ERC20 token. Make your own token or using stablecoin to payment on your website
</p></div></div>