<!-- sidebar  -->
    <nav class="sidebar vertical-scroll  ps-container ps-theme-default ps-active-y">
        <div class="logo d-flex justify-content-between">
            <a href=""><img src="img/logo.png" alt=""></a>
            <div class="sidebar_close_icon d-lg-none">
                <i class="ti-close"></i>
            </div>
        </div>
        <ul id="sidebar_menu">
            <li class="mm-active">
                <a href="#" aria-expanded="false">
                    <div class="icon_menu">
                        <img src="img/menu-icon/dashboard.svg" alt="">
                    </div>
                    <span>Dashboard &nbsp;<i class="fas fa-chevron-down"></i></span>
                </a>
                <ul>
                    <li><a class="active" href="">Analytic</a></li>
                    <li><a href="">Wallet</a></li>
                    <li><a href="">Transactions</a></li>
                    <!-- <li><a href="">Payment</a></li> -->
                </ul>
            </li>
            <li class="">
                <a href="#" aria-expanded="false">
                    <div class="icon_menu">
                        <img src="img/menu-icon/2.svg" alt="">
                    </div>
                    <span>Tokens &nbsp;<i class="fas fa-chevron-down"></i></span>
                </a>
                <ul>
                    <li><a href="">Token list</a></li>
                    <li><a href="">Create new token</a></li>
                </ul>
            </li>
            <li class="">
                <a href="#" aria-expanded="false">

                    <div class="icon_menu">
                        <img src="img/menu-icon/3.svg" alt="">
                    </div>
                    <span>Payment &nbsp;<i class="fas fa-chevron-down"></i></span>
                </a>
                <ul>
                    <li><a href="">colors</a></li>
                    <li><a href="">Alerts</a></li>
                    <li><a href="">Buttons</a></li>
                    <li><a href="">modal</a></li>
                    <li><a href="">Droopdowns</a></li>
                    <li><a href="">Badges</a></li>
                    <li><a href="">Loading Indicators</a></li>
                    <li><a href="">State color</a></li>
                    <li><a href="">Typography</a></li>
                    <li><a href="">Date Picker</a></li>
                </ul>
            </li>
            <li class="">
                <a href="#" aria-expanded="false">

                    <div class="icon_menu">
                        <img src="img/menu-icon/4.svg" alt="">
                    </div>
                    <span>forms</span>
                </a>
                <ul>
                    <li><a href="">Basic Elements</a></li>
                    <li><a href="">Groups</a></li>
                    <li><a href="">Max Length</a></li>
                    <li><a href="">Layouts</a></li>
                </ul>
            </li>
            <li class="">
                <a href="" aria-expanded="false">
                    <div class="icon_menu">
                        <img src="img/menu-icon/5.svg" alt="">
                    </div>
                    <span>Board</span>
                </a>
            </li>

        </ul>
    </nav>
    <!--/ sidebar  -->