<!-- Modal Modal Connecting Metamask-->
<div class="modal fade" id="connectingWalletModal" tabindex="-1" role="dialog" aria-labelledby="connectingWallet" aria-hidden="true">
    <div class="modal-dialog modal-lg text-center" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h4><img src="./images/metamask.png" style="width:50px;height:50px;" alt=""> Metamask wallet</h4>
                <h5>Check your metamask popup and choose account to connect</h5>
                <h5 class="info-color">Connecting...</h5>
            </div>
        </div>
    </div>
</div>

<!-- Modal Connect Metamask Error-->
<div class="modal fade" id="connectingWalletFailedModal" tabindex="-1" role="dialog" aria-labelledby="connectingWallet" aria-hidden="true">
    <div class="modal-dialog modal-lg text-center" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h4><img src="./images/metamask.png" style="width:50px;height:50px;" alt=""> Metamask wallet</h4>
                <h5 class="danger-color">Authorization Error</h5>
                <h5> Please authorize to access your account</h5>
            </div>
        </div>
    </div>
</div>

<!-- Modal Connect Metamask Error-->
<div class="modal fade" id="connectingWalletFailedModal" tabindex="-1" role="dialog" aria-labelledby="connectingWallet" aria-hidden="true">
    <div class="modal-dialog modal-lg text-center" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h4><img src="./images/metamask.png" style="width:50px;height:50px;" alt=""> Metamask wallet</h4>
                <p><b>Authorization Error</b></p>
                <p> Please authorize to access your account</p>
            </div>
        </div>
    </div>
</div>


